*{
  box-sizing: border-box;
}

body{
  background-color: beige;
  background-image: url(todo-image.jpg);
}



h2{
  text-decoration: underline;
}
 li {
  margin: 10px 0; 
} 

hr{
  border: 1px solid black;
}

footer {
  text-align: center;
  font-size: large;
  clear: both;
  margin-top: 100px;

}


button {
  /* background-color: lightgray; */
  background-color: transparent;

}

input {
  background-color: rgb(245, 232, 232);
}

/* .todo-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.todo-list-container > div {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.completed-list {
  grid-column-start: 2;
} */


.task-container{
  display: flex;
}

hr {
  margin-top: 50px;
}

.hard-coded-task {
  opacity: 5; /* Adjust the opacity to make them appear transparent */
  font-weight: lighter; /* Adjust the font weight to make it lighter */
}



