*{
  box-sizing: border-box;
}

body{
  background-color: beige;
  background-image: url(todo-image.jpg);
}



h2{
  text-decoration: underline;
}
 li {
  margin: 10px 0; 
} 

hr{
  border: 1px solid black;
}

footer {
  text-align: center;
  font-size: large;
  clear: both;
  margin-top: 100px;

}


button {
  background-color: lightgray;
}

input {
  background-color: lightgoldenrodyellow;
}



